extends ../layout.jade

block content
  h1.page-header= jobRecipe.name

  form.clearfix(method="POST", action="/job_recipe/#{jobRecipe.id}/launch")
    button.btn.btn-primary.btn-lg.pull-right(type="submit") Launch

  h2 Job Definition
  pre
    = jobRecipe.recipe

  .clearfix
    a.btn.btn-default.btn-lg.pull-right(href="/job_recipe/#{jobRecipe.id}/edit", role="button") Edit recipe

  h2 Job Logs
  table.table.table-striped
    thead
      tr
        th #
        th Status
        th Start
        th Finish
    tbody
    each jobRecipeLog in jobRecipeLogs
      tr
        td= jobRecipeLog.id
        td
          if jobRecipeLog.progress
            span.label.label-info Progress
          if jobRecipeLog.success
            span.label.label-success Success
          if jobRecipeLog.failure
            span.label.label-danger Failure
        td= jobRecipeLog.createdAt
        td
          if !jobRecipeLog.progress
            = jobRecipeLog.updatedAt
